.row.row-cols-sm-1.row-cols-md-3.row-cols-lg-5
  - @statuses.each do |key, value|
    .col
      %div.my-3
        %b= key.humanize
      - @tasks.with_status(value).each do |task|
        = render task