= render partial: "partials/head", locals: { title: "Edit task", link_name: sanitize("&larr; Back to tasks"), link_path: tasks_path }

= turbo_frame_tag dom_id(@task) do
  = render "form", task: @task