= turbo_frame_tag "body" do
  = render partial: "partials/head", locals: { title: "Tasks", link_name: "+", link_path: new_task_path }

  = render partial: "partials/filter"
  = render partial: "tasks/collection"