.alert.alert-dismissible.fade.show{ role: "alert", class: style }
  = alert
  %button.btn-close{ "aria-label": "Close", "data-bs-dismiss": "alert", "data-controller": "alert", "data-action": "alert#close",type: "button" }
